

{% include 'plane_dash.html' %}

{% block body %}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
   
    <hr>
    
       <!-- <div class = "jumbotron p-0">-->
       
        {% with messages = get_flashed_messages() %}

        {% if messages %}
        
        {% for message in messages %}
        
        <div class = "alert alert-success alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss = "alert" aria-label= "close">
        
                <span aria-hidden ="true">x</span>
            </button>
            {{message}}
        
        </div>
        
        {% endfor %}
        {% endif %}
        {% endwith %}
        
           
                
                 <table class=" table table-hover">
                     <input type="text" id="mySearch" placeholder=" search..." style="width: 20%;">
                <thead>
                    <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Date</th>
                    <th>Action</th>
               
                </tr>
            </thead>
         

                {% for row in appointees %}


                <tbody id="myTable" >
                    <tr>

                    <td> {{row.id}}</td>
                    <td> {{row.name}}</td>
                    <td> {{row.email}}</td>
                    <td> {{row.date}}</td>

                   
                    <td>
                        <a  class="text-warning" data-toggle="modal" href="/update/{{row.id}}" data-target="#modaledit{{row.id}}">
                            <i class ="	fa fa-edit fa-3"></i>
                        </a>
                        <a href="/delete/{{row.id}}" class="text-danger">
                            <i class ="	fa fa-trash fa-3"></i>
                        </a>
                       
                    </td>
                </tr>
                </tbody>
                {% endfor %}
                 </table>


                 {% for row in appointees %}
                <div class="modal fade" id="modaledit{{row.id}}" role="dialog">
                    <div class="modal-dialog">
                    
                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">Update </h4>
                        </div>
                        <div class="modal-body">
                           <form action = "{{url_for('update')}}" method="POST">
                                <div class="form-group">
                                    
                                    <label>Name:</label>
                                    <input type="hidden" name="id" value="{{row.id}}">
                                    <input type="text" class="form-control" name="name" value="{{row.name}}"  required ="1">
                
                                </div>
                
                                <div class="form-group">
                                    
                                    <label>Email:</label>
                                    <input type="text" class="form-control" name="email"value= "{{row.email}}"   required ="1">
                                    
                                </div>
                        
                
                               
                
                                <div class="form-group">
                                    
                                    <label>Date:</label>
                                    <input type="date" class="form-control" name="date" value="{{row.date}}" required ="1">
                                    
                                </div>
                
                                <div class="form-group">
                              
                                    <label>Doctor:</label>
                                   <select class="form-control" id="select" name="doctor">
                              
                                                   
                                        {% for row in experts %}
                                        
                                       <option value="{{row.id}}">{{row.username}} {{row.work}}-{{row.country}} </option>
                
                                       {% endfor %}
                                   </select>
                                   
                                </div>
                           
                
                                <div class="form-group">
                                    
                                    <button class="btn btn-primary" type="submit">Update</button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                        <button type = "button" class = "btn btn-secondary" data-dismiss ="modal">Close</button>
                        </div>
                      </div> 
                      </div>
                      </div>
                {% endfor %}



<div class="modal fade" id="modalPatient" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Book Appointment </h4>
        </div>
        <div class="modal-body">
           <form action = "/add_appointment" method="POST">
                <div class="form-group">
                    
                    <label>Name:</label>
                    <input type="hidden" name="id" value="">
                    <input type="text" class="form-control" name="name" value=""  required ="1">

                </div>

                <div class="form-group">
                    
                    <label>Email:</label>
                    <input type="text" class="form-control" name="email"value= ""   required ="1">
                    
                </div>
        

               

                <div class="form-group">
                    
                    <label>Date:</label>
                    <input type="date" class="form-control" name="date" value="" required ="1">
                    
                </div>

                <div class="form-group">
                    <label>Doctor:</label>
                

                   <select class="form-control" id="select" name="doctor">
                    
                           
                        {% for row in experts %}
                       
                        <option value="{{row.id}}">{{row.username}}, {{row.work}}-{{row.country}} </option>

                       {% endfor %}
                   </select>
                   
                </div>
          

                <div class="form-group">
                    
                    <button class="btn btn-primary" type="submit">Add</button>
                </div>
            </form>
        </div>
        <div class="modal-footer">
        <button type = "button" class = "btn btn-secondary" data-dismiss ="modal">Close</button>
        </div>
      </div> 
      </div>
      </div>

     

    
</div>
     
   
<!--Modal edith-->
   

<script>
 

    $(document).ready(function(){
     $("#mySearch").on("keyup", function() {
       var value = $(this).val().toLowerCase();
       $("#myTable tr").filter(function() {
         $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
       });
     });
   });
   
   
    </script>

</main>
    



{% endblock %}